#OSLogo {
    height: 80px;
    width: 330px;
    padding-left: 45px;
}

header {
    background-color: white;
}

.body {
    background-color: #1F1F1F;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#head {
    color: white;
    font-size: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

.bigBox {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.item {
    display: flex;
    margin: 10px;
    height: 200px;
    justify-content: space-evenly;
  }  

  h3 {
    color: white;
    display: flex;
    justify-content: center;
  }