<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>OSWS prototype</title>
</head>
<header>
    <img id="OSLogo" src="../static/OS dinglehopper.jpg" alt="Open Sky Logo">
</header>
<body class="body">
    <article>
        <div id="head">BROWSE OUR CREATIONS</div>
    </article>

    <div class="bigBox">
        <div class="item">
          <img src="../static/shark1.jpg" alt="" >
          <h3>Hello this is a name</h3>
        </div>
        <div class="item">
          <img src="../static/shark2.jpg" alt="" >
          <h3>Here is my name</h3>
        </div>
        <div class="item">
          <img src="../static/shark3.jpg" alt="" >
          <h3>Here is my name</h3>
        </div>
        <div class="item">
            <img src="../static/shark4.jpg" alt="" >
            <h3>Here is my name</h3>
        </div>
        <div class="item">
          <img src="../static/shark5.jpg" alt="">
          <h3>Hello this is a name</h3>
        </div>
        <div class="item">
          <img src="../static/shark6.webp" alt="">
          <h3>Here is my name</h3>
        </div>
        <div class="item">
          <img src="../static/shark7.webp" alt="" >
          <h3>Here is my name</h3>
        </div>
        <div class="item">
            <img src="../static/shark8.webp" alt="" >
            <h3>Here is my name</h3>
        </div>
        <div class="item">
          <img src="../static/shark9.png" alt="" >
          <h3>Hello this is a name</h3>
        </div>
        <div class="item">
          <img src="../static/shark10.jpg" alt="">
          <h3>Here is my name</h3>
        </div>
    </div>
</body>

<script src="server.py"></script>
</html>